<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>922924176582-8mmj66qkelu2lh442enov4d8oruhhpqb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.922924176582-8mmj66qkelu2lh442enov4d8oruhhpqb</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>922924176582-l1b9rrkqhoe4pdt3dbenr0q46n6mts02.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBc_53BQrxjLuXdDu34KgCIzdg-kvIvdnc</string>
	<key>GCM_SENDER_ID</key>
	<string>922924176582</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kalvarado90584.pulperiav</string>
	<key>PROJECT_ID</key>
	<string>pulperia-v-3f787</string>
	<key>STORAGE_BUCKET</key>
	<string>pulperia-v-3f787.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:922924176582:ios:491693ab36acd9c5ec73c7</string>
</dict>
</plist>